.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: #485A72;
  box-sizing: border-box;
}

.header-text {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  color: #A9936D;
}

.header-back-button {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 20px;
  top: 12.5px;
  align-items: center;
  justify-content: center;
}
.header-back-button:hover {
  cursor: pointer;
}

.header-back-text {
  font-size: 20px;
  font-weight: bold;
  color: #A9936D;
}