.centered-view {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal-view {
  display: flex;
  flex-direction: column;
  background-color: #C0C0C0;
  border-radius: 20px;
  padding: 10px;
  width: 50%;
  margin: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  box-shadow: 0px 0px 25px 10px rgba(56, 70, 84, 0.9);
  max-height: 80vh;
  z-index: 100;
  align-items: center;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #485A72;
  margin: 10px 10px 0px 10px;
  text-align: center;
}

.modal-row {
  min-height: 40px;
  display: flex;
  flex-direction: row;
  width: 75%;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-row-split {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items:center;
  justify-content: flex-start;
}

.modal-input {
  height: 40px;
  width: 100%;
  padding: 8px;
  color: #A9936D;
  background-color: "#FFFFFF";
  border-radius: 10px;
  border: 0px;
  box-sizing: border-box;
  font-size: 15px;
}

.modal-text {
  font-size: 15px;
  color: #A9936D;
  text-align: center;
  padding: 0 10px;
}

.modal-button-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.modal-input-prefix {
  display: flex;
  align-items: center;
  color: #A9936D;
  padding-left: 8px;
  padding-bottom: 1px;
  font-size: 15px;
  margin-right: 4px;
  margin: 0;
  height: 40px;
  box-sizing: border-box;
}